:root {
  --text-color: #030303;
  --background-color: #c3c3c3;
  --sidebar-blue: #001da1;
  --blue: #004eda;
  --light-blue: #4281e5;
  --very-light-blue: #ecf6ff;
  --grey: #444444;
  --light-grey: #a5acbb;
  --very-light-grey: #e3e3e3;
  --default-background: #f8f9fb;
  --water-link: #bfc4d1;
  --yellow: #ffd53e;
}
